numpy
pandas
matplotlib
flask
flask_cors
torchvision 
torchaudio
scipy
scikit-learn
graspologic 
jupyterlab
pymupdf
tokenizers
graphrag
transformers
sentence-transformers
datasets
accelerate
peft
gensim
ollama
langchain
bitsandbytes
deepspeed
openai
tiktoken
chunker
networkx